<a href="https://colab.research.google.com/github/Mintu-Vipin/COMP257-UR/blob/master/MintuVipinJoy_COMP258Lab1_Ex2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mintu Vipin Joy


Student ID:301135483

## **Assignment 1** -----  **Exercise 2**

In [1]:
# Upload the data from the local machine to google colab
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving hepatitis.data to hepatitis (2).data

In [28]:
import io
# Load hepatitis data
columns = ['Class','AGE','SEX','STEROID','ANTIVIRALS','FATIGUE','MALAISE','ANOREXIA','LIVER BIG', 'LIVER FIRM', 'SPLEEN PALPABLE','SPIDERS','ASCITES','VARICES','BILIRUBIN','ALK PHOSPHATE', 'SGOT','ALBUMIN','PROTIME','HISTOLOGY']
hepatitis_data = pd.read_csv(io.BytesIO(uploaded['hepatitis.data']), names= columns)

In [29]:
hepatitis_data.describe()

            Class         AGE         SEX  ANTIVIRALS   HISTOLOGY
count  155.000000  155.000000  155.000000  155.000000  155.000000
mean     1.793548   41.200000    1.103226    1.845161    1.451613
std      0.406070   12.565878    0.305240    0.362923    0.499266
min      1.000000    7.000000    1.000000    1.000000    1.000000
25%      2.000000   32.000000    1.000000    2.000000    1.000000
50%      2.000000   39.000000    1.000000    2.000000    1.000000
75%      2.000000   50.000000    1.000000    2.000000    2.000000
max      2.000000   78.000000    2.000000    2.000000    2.000000

In [31]:
# Print data(first 5 rows)
hepatitis_data.head(5)

   Class  AGE  SEX STEROID  ...  SGOT ALBUMIN PROTIME HISTOLOGY
0      2   30    2       1  ...    18     4.0       ?         1
1      2   50    1       1  ...    42     3.5       ?         1
2      2   78    1       2  ...    32     4.0       ?         1
3      2   31    1       ?  ...    52     4.0      80         1
4      2   34    1       2  ...   200     4.0       ?         1

[5 rows x 20 columns]

In [33]:
#  Check the missing data
hepatitis_data.isna().sum()

Class              0
AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
BILIRUBIN          0
ALK PHOSPHATE      0
SGOT               0
ALBUMIN            0
PROTIME            0
HISTOLOGY          0
dtype: int64

In [34]:
# Replace the '?' with 'Nan'
import numpy as np
hepatitis_data=hepatitis_data.replace('?',np.NaN)

In [35]:
hepatitis_data.head(5)

   Class  AGE  SEX STEROID  ...  SGOT ALBUMIN PROTIME HISTOLOGY
0      2   30    2       1  ...    18     4.0     NaN         1
1      2   50    1       1  ...    42     3.5     NaN         1
2      2   78    1       2  ...    32     4.0     NaN         1
3      2   31    1     NaN  ...    52     4.0      80         1
4      2   34    1       2  ...   200     4.0     NaN         1

[5 rows x 20 columns]

In [36]:
#  Check the missing data
hepatitis_data.isna().sum()

Class               0
AGE                 0
SEX                 0
STEROID             1
ANTIVIRALS          0
FATIGUE             1
MALAISE             1
ANOREXIA            1
LIVER BIG          10
LIVER FIRM         11
SPLEEN PALPABLE     5
SPIDERS             5
ASCITES             5
VARICES             5
BILIRUBIN           6
ALK PHOSPHATE      29
SGOT                4
ALBUMIN            16
PROTIME            67
HISTOLOGY           0
dtype: int64

In [37]:
# Replace the 'NaN' value with the column's mean value
for i in hepatitis_data.columns:
  hepatitis_data[i] = pd.to_numeric(hepatitis_data[i])
  if i in ['STEROID','ANTIVIRALS','FATIGUE','MALAISE','ANOREXIA','LIVER BIG','LIVER FIRM','SPLEEN PALPABLE','SPIDERS','ASCITES','VARICES','HISTOLOGY','SEX']:
    hepatitis_data[i].fillna(hepatitis_data[i].value_counts().idxmax(),inplace=True)
  else:
    hepatitis_data[i].fillna(hepatitis_data[i].mean(),inplace=True)

In [38]:
hepatitis_data.head(5)

   Class  AGE  SEX  STEROID  ...   SGOT  ALBUMIN    PROTIME  HISTOLOGY
0      2   30    2      1.0  ...   18.0      4.0  61.852273          1
1      2   50    1      1.0  ...   42.0      3.5  61.852273          1
2      2   78    1      2.0  ...   32.0      4.0  61.852273          1
3      2   31    1      2.0  ...   52.0      4.0  80.000000          1
4      2   34    1      2.0  ...  200.0      4.0  61.852273          1

[5 rows x 20 columns]

In [39]:
hepatitis_data['Class']

0      2
1      2
2      2
3      2
4      2
      ..
150    1
151    2
152    2
153    2
154    1
Name: Class, Length: 155, dtype: int64

In [41]:
#  Class Distribution: DIE: 32, LIVE: 123
hepatitis_data['Class'].value_counts()      #1-Die, 2- Live(Die_Live 1:       1,	0, 	Die_Live 2:       0,	1)

2    123
1     32
Name: Class, dtype: int64

In [42]:
# OnHotEncoding for column class 
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(sparse=False)
encoded = pd.DataFrame(enc.fit_transform(hepatitis_data['Class'].to_numpy().reshape(-1,1)))

encoded.columns = enc.get_feature_names(['Class'])

# Drop the 'Class' column
hepatitis_data.drop(['Class'],axis=1,inplace=True)

hepatitis_data = pd.concat([hepatitis_data,encoded],axis=1)

In [43]:
hepatitis_data.head(15)

    AGE  SEX  STEROID  ANTIVIRALS  ...    PROTIME  HISTOLOGY  Class_1  Class_2
0    30    2      1.0           2  ...  61.852273          1      0.0      1.0
1    50    1      1.0           2  ...  61.852273          1      0.0      1.0
2    78    1      2.0           2  ...  61.852273          1      0.0      1.0
3    31    1      2.0           1  ...  80.000000          1      0.0      1.0
4    34    1      2.0           2  ...  61.852273          1      0.0      1.0
5    34    1      2.0           2  ...  75.000000          1      0.0      1.0
6    51    1      1.0           2  ...  61.852273          1      1.0      0.0
7    23    1      2.0           2  ...  61.852273          1      0.0      1.0
8    39    1      2.0           2  ...  61.852273          1      0.0      1.0
9    30    1      2.0           2  ...  61.852273          1      0.0      1.0
10   39    1      1.0           1  ...  85.000000          1      0.0      1.0
11   32    1      2.0           1  ...  54.000000          1      0.0      1.0
12   41    1      2.0           1  ...  52.000000          1      0.0      1.0
13   30    1      2.0           2  ...  78.000000          1      0.0      1.0
14   47    1      1.0           1  ...  61.852273          1      0.0      1.0

[15 rows x 21 columns]

In [44]:
# Slipt the data into targets and labels
hep_X, hep_y = hepatitis_data.iloc[:,:-2],hepatitis_data.iloc[:,-2:]

In [45]:
hep_X

     AGE  SEX  STEROID  ANTIVIRALS  ...   SGOT  ALBUMIN    PROTIME  HISTOLOGY
0     30    2      1.0           2  ...   18.0      4.0  61.852273          1
1     50    1      1.0           2  ...   42.0      3.5  61.852273          1
2     78    1      2.0           2  ...   32.0      4.0  61.852273          1
3     31    1      2.0           1  ...   52.0      4.0  80.000000          1
4     34    1      2.0           2  ...  200.0      4.0  61.852273          1
..   ...  ...      ...         ...  ...    ...      ...        ...        ...
150   46    1      2.0           2  ...  242.0      3.3  50.000000          2
151   44    1      2.0           2  ...  142.0      4.3  61.852273          2
152   61    1      1.0           2  ...   20.0      4.1  61.852273          2
153   53    2      1.0           2  ...   19.0      4.1  48.000000          2
154   43    1      2.0           2  ...   19.0      3.1  42.000000          2

[155 rows x 19 columns]

In [47]:
hep_y

     Class_1  Class_2
0        0.0      1.0
1        0.0      1.0
2        0.0      1.0
3        0.0      1.0
4        0.0      1.0
..       ...      ...
150      1.0      0.0
151      0.0      1.0
152      0.0      1.0
153      0.0      1.0
154      1.0      0.0

[155 rows x 2 columns]

In [48]:
# Split the data for training and testing
from sklearn.model_selection import train_test_split
hepX_train,hepX_test,hepy_train,hepy_test = train_test_split(hep_X, hep_y, test_size = 0.15)

# convert into numpy
hepX_train = hepX_train.to_numpy()
hepy_train = hepy_train.to_numpy()

In [49]:
hepX_train

array([[54.        ,  1.        ,  1.        , ...,  3.5       ,
        43.        ,  2.        ],
       [38.        ,  1.        ,  2.        , ...,  4.2       ,
        77.        ,  1.        ],
       [41.        ,  1.        ,  2.        , ...,  3.9       ,
        52.        ,  1.        ],
       ...,
       [45.        ,  2.        ,  1.        , ...,  3.81726619,
        61.85227273,  1.        ],
       [28.        ,  1.        ,  2.        , ...,  4.9       ,
        61.85227273,  1.        ],
       [33.        ,  1.        ,  2.        , ...,  4.4       ,
        60.        ,  1.        ]])

In [50]:
hepy_train

array([[1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [52]:
hepX_test

     AGE  SEX  STEROID  ANTIVIRALS  ...       SGOT   ALBUMIN     PROTIME  HISTOLOGY
145   31    1      1.0           2  ...  173.00000  4.200000   54.000000          2
76    58    1      2.0           2  ...  242.00000  3.300000   61.852273          1
66    56    1      1.0           2  ...   33.00000  3.000000   61.852273          1
118   61    1      1.0           2  ...   85.89404  3.817266   61.852273          2
150   46    1      2.0           2  ...  242.00000  3.300000   50.000000          2
44    34    1      2.0           2  ...   86.00000  3.817266   61.852273          1
47    28    2      2.0           2  ...  420.00000  3.300000   46.000000          1
77    34    2      1.0           1  ...   24.00000  4.000000   76.000000          1
28    61    1      1.0           2  ...   25.00000  3.800000  100.000000          1
121   20    1      1.0           2  ...  118.00000  2.900000   23.000000          2
57    30    1      2.0           1  ...   38.00000  3.900000   52.000000          1
63    36    1      1.0           2  ...   44.00000  3.100000   41.000000          1
146   41    1      2.0           2  ...  120.00000  3.400000   61.852273          2
139   45    1      2.0           1  ...   44.00000  4.200000   85.000000          2
101   22    1      2.0           2  ...   24.00000  3.817266   61.852273          2
74    50    1      2.0           2  ...  100.00000  5.300000   61.852273          1
54    30    1      2.0           2  ...   78.00000  4.200000   74.000000          1
73    36    1      1.0           2  ...   45.00000  4.000000   57.000000          1
45    28    1      2.0           2  ...  110.00000  4.400000   61.852273          1
89    38    1      1.0           2  ...   18.00000  4.400000   84.000000          2
6     51    1      1.0           2  ...   85.89404  3.817266   61.852273          1
117   50    1      2.0           2  ...   81.00000  3.900000   62.000000          2
65    27    1      2.0           2  ...   38.00000  4.200000   61.852273          1
67    57    1      2.0           2  ...   48.00000  2.600000   73.000000          1

[24 rows x 19 columns]

In [53]:
hepy_test

     Class_1  Class_2
145      0.0      1.0
76       1.0      0.0
66       0.0      1.0
118      1.0      0.0
150      1.0      0.0
44       0.0      1.0
47       0.0      1.0
77       0.0      1.0
28       0.0      1.0
121      0.0      1.0
57       0.0      1.0
63       0.0      1.0
146      1.0      0.0
139      0.0      1.0
101      0.0      1.0
74       0.0      1.0
54       0.0      1.0
73       0.0      1.0
45       0.0      1.0
89       0.0      1.0
6        1.0      0.0
117      0.0      1.0
65       0.0      1.0
67       1.0      0.0

In [54]:
hepX_train = [np.reshape(a, (19,1)) for a in hepX_train]
hepy_train = [np.reshape(a, (2,1)) for a in hepy_train]

hepX_test = hepX_test.to_numpy()

temp_revert_onehot = pd.get_dummies(hepy_test).idxmax(1)
temp_revert_onehot.replace({"Class_1": 1, "Class_0": 0}, inplace=True)

hepy_test = temp_revert_onehot.to_numpy()
hepX_test = [np.reshape(a, (19,1)) for a in hepX_test]

In [73]:
#  Zip the train and test data
train_data = zip(hepX_train,hepy_train)
test_data = zip(hepX_test,hepy_test)

In [74]:
#### Miscellaneous functions
def sigmoid(z):
    """The sigmoid function."""
    return 1.0/(1.0+np.exp(-z))

def sigmoid_prime(z):
    """Derivative of the sigmoid function."""
    return sigmoid(z)*(1-sigmoid(z))

In [57]:
"""
network.py
~~~~~~~~~~
IT WORKS
A module to implement the stochastic gradient descent learning
algorithm for a feedforward neural network.  Gradients are calculated
using backpropagation.  Note that I have focused on making the code
simple, easily readable, and easily modifiable.  It is not optimized,
and omits many desirable features.
"""

#### Libraries
# Standard library
import random

# Third-party libraries
import numpy as np

class Network(object):

    def __init__(self, sizes):
        """The list ``sizes`` contains the number of neurons in the
        respective layers of the network.  For example, if the list
        was [2, 3, 1] then it would be a three-layer network, with the
        first layer containing 2 neurons, the second layer 3 neurons,
        and the third layer 1 neuron.  The biases and weights for the
        network are initialized randomly, using a Gaussian
        distribution with mean 0, and variance 1.  Note that the first
        layer is assumed to be an input layer, and by convention we
        won't set any biases for those neurons, since biases are only
        ever used in computing the outputs from later layers."""
        self.num_layers = len(sizes)
        self.sizes = sizes
        self.biases = [np.random.randn(y, 1) for y in sizes[1:]]
        self.weights = [np.random.randn(y, x)
                        for x, y in zip(sizes[:-1], sizes[1:])]

    def feedforward(self, a):
        """Return the output of the network if ``a`` is input."""
        for b, w in zip(self.biases, self.weights):
            a = sigmoid(np.dot(w, a)+b)
        return a

    def SGD(self, training_data, epochs, mini_batch_size, eta,
            test_data=None):
        """Train the neural network using mini-batch stochastic
        gradient descent.  The ``training_data`` is a list of tuples
        ``(x, y)`` representing the training inputs and the desired
        outputs.  The other non-optional parameters are
        self-explanatory.  If ``test_data`` is provided then the
        network will be evaluated against the test data after each
        epoch, and partial progress printed out.  This is useful for
        tracking progress, but slows things down substantially."""

        training_data = list(training_data)
        n = len(training_data)

        if test_data:
            test_data = list(test_data)
            n_test = len(test_data)

        for j in range(epochs):
            random.shuffle(training_data)
            mini_batches = [
                training_data[k:k+mini_batch_size]
                for k in range(0, n, mini_batch_size)]
            for mini_batch in mini_batches:
                self.update_mini_batch(mini_batch, eta)
            if test_data:
                print("Epoch {} : {} / {}".format(j,self.evaluate(test_data),n_test));
            else:
                print("Epoch {} complete".format(j))

    def update_mini_batch(self, mini_batch, eta):
        """Update the network's weights and biases by applying
        gradient descent using backpropagation to a single mini batch.
        The ``mini_batch`` is a list of tuples ``(x, y)``, and ``eta``
        is the learning rate."""
        nabla_b = [np.zeros(b.shape) for b in self.biases]
        nabla_w = [np.zeros(w.shape) for w in self.weights]
        for x, y in mini_batch:
            delta_nabla_b, delta_nabla_w = self.backprop(x, y)
            nabla_b = [nb+dnb for nb, dnb in zip(nabla_b, delta_nabla_b)]
            nabla_w = [nw+dnw for nw, dnw in zip(nabla_w, delta_nabla_w)]
        self.weights = [w-(eta/len(mini_batch))*nw
                        for w, nw in zip(self.weights, nabla_w)]
        self.biases = [b-(eta/len(mini_batch))*nb
                       for b, nb in zip(self.biases, nabla_b)]

    def backprop(self, x, y):
        """Return a tuple ``(nabla_b, nabla_w)`` representing the
        gradient for the cost function C_x.  ``nabla_b`` and
        ``nabla_w`` are layer-by-layer lists of numpy arrays, similar
        to ``self.biases`` and ``self.weights``."""
        nabla_b = [np.zeros(b.shape) for b in self.biases]
        nabla_w = [np.zeros(w.shape) for w in self.weights]
        # feedforward
        activation = x
        activations = [x] # list to store all the activations, layer by layer
        zs = [] # list to store all the z vectors, layer by layer
        for b, w in zip(self.biases, self.weights):
            z = np.dot(w, activation)+b
            zs.append(z)
            activation = sigmoid(z)
            activations.append(activation)
        # backward pass
        delta = self.cost_derivative(activations[-1], y) * \
            sigmoid_prime(zs[-1])
        nabla_b[-1] = delta
        nabla_w[-1] = np.dot(delta, activations[-2].transpose())
        # Note that the variable l in the loop below is used a little
        # differently to the notation in Chapter 2 of the book.  Here,
        # l = 1 means the last layer of neurons, l = 2 is the
        # second-last layer, and so on.  It's a renumbering of the
        # scheme in the book, used here to take advantage of the fact
        # that Python can use negative indices in lists.
        for l in range(2, self.num_layers):
            z = zs[-l]
            sp = sigmoid_prime(z)
            delta = np.dot(self.weights[-l+1].transpose(), delta) * sp
            nabla_b[-l] = delta
            nabla_w[-l] = np.dot(delta, activations[-l-1].transpose())
        return (nabla_b, nabla_w)

    def evaluate(self, test_data):
        """Return the number of test inputs for which the neural
        network outputs the correct result. Note that the neural
        network's output is assumed to be the index of whichever
        neuron in the final layer has the highest activation."""
        test_results = [(np.argmax(self.feedforward(x)), y)
                        for (x, y) in test_data]
        return sum(int(x == y) for (x, y) in test_results)

    def cost_derivative(self, output_activations, y):
        """Return the vector of partial derivatives \partial C_x /
        \partial a for the output activations."""
        return (output_activations-y)

In [75]:
net = Network([19, 30, 15, 2])
net.SGD(train_data, 30, 10, 3.0, test_data=test_data)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: overflow encountered in exp
  after removing the cwd from sys.path.

Epoch 0 : 6 / 24
Epoch 1 : 6 / 24
Epoch 2 : 6 / 24
Epoch 3 : 6 / 24
Epoch 4 : 2 / 24
Epoch 5 : 6 / 24
Epoch 6 : 6 / 24
Epoch 7 : 6 / 24
Epoch 8 : 6 / 24
Epoch 9 : 6 / 24
Epoch 10 : 0 / 24
Epoch 11 : 6 / 24
Epoch 12 : 6 / 24
Epoch 13 : 6 / 24
Epoch 14 : 6 / 24
Epoch 15 : 6 / 24
Epoch 16 : 6 / 24
Epoch 17 : 6 / 24
Epoch 18 : 0 / 24
Epoch 19 : 6 / 24
Epoch 20 : 6 / 24
Epoch 21 : 6 / 24
Epoch 22 : 6 / 24
Epoch 23 : 6 / 24
Epoch 24 : 6 / 24
Epoch 25 : 6 / 24
Epoch 26 : 0 / 24
Epoch 27 : 6 / 24
Epoch 28 : 6 / 24
Epoch 29 : 6 / 24